    <div class="drawer-side">
        <label for="my-drawer-4" class="drawer-overlay" id="drawerOverlay"></label>
        <aside class="w-4/12 bg-base-100">
            <ul class="menu p-4 text-base-content">
                <!-- Sidebar content here -->
                <!-- New Project Drawer -->
                <li class="hidden" id="newProjectDrawer">
                    <div class="hero-content">
                        <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
                            <form class="card-body" action="/project/newProject" method="POST">
                            <div class="form-control">
                                <label for="name" class="label">
                                    <span class="label-text">Project Name</span>
                                </label>
                                <input type="text" name="name" id="name" placeholder="New Project" class="input input-bordered" />
                                
                                <label for="description" class="label">
                                    <span class="label-text">Short description</span>
                                </label>
                                <input type="text" name="description" id="description" placeholder="Description" class="input input-bordered" />

                                <label for="dueDate" class="label">
                                    <span class="label-text">Due Date</span>
                                </label>
                                <input type="date" name="dueDate" id="dueDate" class="input input-bordered" />                           
                            </div>
                            <!-- <% if (locals.messages.errors) { %>
                                <% messages.errors.forEach( el => { %>
                                <div class="alert alert-warning shadow-lg">
                                    <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" /></svg>
                                    <span><%= el.msg %></span>
                                    </div>
                                </div>
                                <% }) %>
                            <% } %>
                            <% if (locals.messages.info) { %>
                                <% messages.info.forEach( el => { %>
                                <div class="alert alert-info shadow-lg">
                                    <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-current flex-shrink-0 w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                                    <span><%= el.msg %></span>
                                    </div>
                                </div>
                                <% }) %>
                            <% } %> -->
                            <div class="form-control mt-6">
                                <button type="submit" class="btn btn-primary">Create Project</button>
                            </div>
                            </form>
                        </div>
                    </div>
                </li>
                <!-- Add Task Drawer -->
                <li class="hidden" id="addTaskDrawer">
                    <div class="hero-content">
                        <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
                            <form class="card-body" action="/project/newProject" method="POST">
                                <div class="form-control">
                                    <label for="description" class="label">
                                        <span class="label-text">Add Task</span>
                                    </label>
                                    <input type="text" name="description" id="description" placeholder="Task" class="input input-bordered" />

                                    <label for="dueDate" class="label">
                                        <span class="label-text">Due Date</span>
                                    </label>
                                    <input type="date" name="dueDate" id="dueDate" class="input input-bordered" />                           
                                </div>
                                <div class="form-control mt-6">
                                    <button type="submit" class="btn btn-primary">Create Project</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </li>
                <li class="hidden todoDrawer"><a>To Do 1</a></li>
                <li class="hidden todoDrawer"><a>To Do 2</a></li>
                <li class="hidden doingDrawer"><a>Doing 1</a></li>
                <li class="hidden doingDrawer"><a>Doing 2</a></li>
                <li class="hidden doingDrawer"><a>Doing 3</a></li>
                <li class="hidden doneDrawer"><a>Done 1</a></li>
                <li class="hidden doneDrawer"><a>Done 2</a></li>
                <li class="hidden doneDrawer"><a>Done 3</a></li>
            </ul>
        </aside>
    </div>