<!DOCTYPE html>
<html lang="en" data-theme="retro">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="icon" type="image/png" sizes="32x32" href="/imgs/favicon-32x32.png"/>
    <link rel="stylesheet" href="/css/style.css"/>
  </head>

  <body class="min-h-screen flex flex-col">
    <header class="navbar bg-base-100">
      <div class="flex flex-col items-center justify-center">
        <%if(user !== ''){ %>
        <label for="my-drawer" class="btn btn-primary drawer-button lg:hidden"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg></label>
        <% } %>
      </div>
      <a href="/" class="btn btn-ghost normal-case text-xl gap-2">
        <img src="/imgs/favicon-32x32.png" alt="Project Management App logo">
        <span>Project Management App</span>
      </a>
    </header>
